body {
  background-color: white;
}

img {
  background-size: cover;
  background-position: center;
  height: 200px;
}

#cat-footer {
  background-color: rgba(5, 187, 247, 0.15);
  color: rgba(5, 187, 247, 1.0);
  height: 45px;
}

#dog-footer {
  background-color:rgba(57, 125, 51, 0.15);
  color:rgba(57, 125, 51, 1.0);
  height: 45px;
}

#dino-footer {
  background-color:rgba(232, 199, 14, 0.10);
  color: #ffae00;
  height: 45px;
}
